@model UserSettingsViewModel
@{
    ViewData["Title"] = "Settings";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Settings for @Model.User.Username</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="section-block">
            <h3 class="section-title">Timezone</h3>
            <p>Set your local timezone. This is so that chat log timestamps will be accurate for you.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-clock"></i></span></div>
            <select id="timezone" class="form-control">
                @foreach (var timezone in Model.Timezones)
                {
                    <option value="@timezone.Id" selected="@(Model.User.Timezone.Id == timezone.Id)">@timezone.Name</option>
                }
            </select>
            <div class="input-group-append"><button id="updateTimezone" class="btn btn-sm btn-success"><i class="fas fa-redo"></i> Update</button></div>
        </div>
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>